<p>Hey {{email}},</p>
<p>The
  <b>{{campaignName}}</b>
  was supposed to donate
  {{campaignQuantity}}. so new donation is
  {{quantity}}
</p>
<p>Total donation is {{balance}}</p>

<p>HUNGER MANAGEMENT SYSTEM</p>